@font-face { 
    font-family: "Adam-Light"; 
    src: url(fontes/Adam-Light.ttf);
}

.header {
    font-family: "Adam-Light";
    font-size: 15pt;
    color: #d4d4d4;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav-btn {
    background: none;
    border: none;
    color: #d4d4d4;
    font-family: "Adam-Light";
    font-size: 20pt;
    cursor: pointer;
}

.nav-btn:hover {
    text-decoration: underline;
}

footer {
    display: none;
}

html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.secao--entrada {
    min-height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
}


.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: "Adam-Light", sans-serif;
    font-size: 35pt;
    color: #d4d4d4;
    /* PARA CRIAR UMA BORDA COM DESFOQUE: */
    /* box-shadow: 0 0 10px 0 #d4d4d4;  */

   text-align: center;
   z-index: 2;
   padding-bottom: 800px;
}

.imagem-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;

    display: flex;
    align-items: flex-start;
}

.imagem-principal{
    width: 100%;
    height: auto;    
    display: block;
    pointer-events: none;
}